<form class="pizzas" id="add-pizza" method="post" action="/pizzas">
  <div class="container">
    <label for = "pizza_name">Pizza Name:</label>
    <input type = 'text' name= 'pizza[name]' id="pizza_name" class = "input_field"/>
  </div>

  <div class="container">
    <label for = "pizza_sauce">Le Sauce:</label>
    <input type = 'text' name= 'pizza[sauce]' id="pizza_sauce" class = "input_field"/>
  </div>

  <div class="container">
    <label for = "pizza_cheese">Cheesy?:</label>
    <input type = 'boolean' name= 'pizza[cheese]' id="pizza_cheese" class = "input_field"/>
  </div>

  <div class="container">
    <label for = "pizza_mushrooms">Shroomz?:</label>
    <input type = 'boolean' name= 'pizza[mushrooms]' id="pizza_mushrooms" class = "input_field"/>
  </div>

  <div class="container">
    <label for = "pizza_extra_toppings">Extra Toppings:</label>
    <input type = 'text' name= 'pizza[extra_toppings]' id="pizza_extra_toppings" class = "input_field"/>
  </div>

  <div class="container input_field">
    <input type="submit" value="Make Pizzazz!" class='btn'>
  </div>




</form>
